body{
	background-color: white;
}

.favorite label{
	transition: all 0.3s;
	display: inline-block;
	transform: scale(1, 1);
	color: var(--color-neutral-medium);
}

.favorite input:checked + label{
	color: red;
	transform: scale(1.3, 1.3);
}

@media (max-width:800px) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.navbar h1 {
		padding-left: 1em;
	}
}
@media (max-width:400px) {
	.navbar .display-flex {
		display: block;
	}
	.navbar .nav li {
		line-height: 2em;
	}
}

.figure.product {
	border-radius: 0.5em;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	overflow: hidden;
	transition: all 0.3s;
}

.product.figure img {
	object-fit: contain;
	padding-top: 50px;
}

.product.figure:hover {
	box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}

.product-overlay {
	border-radius: 0.5em;
	position: relative;
	overflow: hidden;
}

.product-overlay figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-overlay:hover figcaption {
	opacity: 1;
}

.product-overlay .caption-body {
	background-color: white;
	border-radius: 0.5em;
	padding: 1em;
	transform: translateY(2em);
	transition: all 0.3s;
}

.product-overlay:hover .caption-body {
	transform: translateY(0);
}

.product-overlay img {
	transform: scale(1,1);
	transition: all 0.3s;
}

.product-overlay:hover img {
	transform: scale(1.4,1.4);
}

@media (max-width: 600px) {
	.product-overlay figcaption {
		position: relative;
		display: block;
		top: initial;
		left: initial;
		width: 100%
		height: initial;
		opacity: 1;
		background-color: initial;
	}
	.product-overlay .caption-body {
		transform: none;
		padding: 0;
	}
}

#landing {
	width: 100%;
	height: 770px;
}

.heading {
	color: var(--color-neutral-dark);
	text-align: center;
	margin-top: 100px;
	margin-bottom: 170px;
}

.heading h3 {
	color: var(--color-neutral-medium);
	size: 15px;
}

.carousel {
	height: 300px;
	width: 320px;
}

button {
	margin-top: 70px;
	margin-bottom: 200px;
}

.view-window {
	margin-bottom: 150px;
}

h3 {
	text-align: center;
	color: var(--color-neutral-dark)
}

.subscribe {
	display: flex;
	justify-content: center;
}

.subscribe .form-button {
	background-color: var(--color-main-light);
	margin: 0px;
	border-radius: 0em 0.5em 0.5em 0;
}

.subscribe .hotdog {
	width: 50%;
	height: 40px;
	border-radius: 0.5em 0 0 0.5em;
}


footer{
	background-color: var(--color-neutral-light);
	font-family: 'Roboto', sans-serif;
	color: #262626;
	font-weight: 300;
	font-size: 12px;
	margin-top: 200px;
	padding-top: 20px;
	padding-bottom: 20px; 
}

.ig {
	display: flex;
	justify-content: space-between;
}

.ig i {
	padding-top: 10px; 
}

.shop {
	margin-top: 100px;
	margin-left: 50px;
	display: flex;
}

.sidebar {
	width: 800px;
	position: fixed;

}

.items {
	position: absolute;
	position: relative;
}

.items figure {
	margin: 20px;
	margin-bottom: 50px;
}

.crumbs{
	margin-top: 100px;
}

.product {
	display: flex;
	margin-top: 70px;
	justify-content: space-between;
}

.productimg {
	width: 530px;
	margin-left: 10px;
	margin-right: 200px;
}

.detailimg img{
	width: 100px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.info {
	width: 30%;
}

.recommendation {
	margin-top: 200px;
}

.rec {
	margin-top: 50px;
}

.add {
	width: 100%;
}

.cart, 
.cartinfo {
	justify-content: space-between;
}

.cart {
	margin-top: 100px;
}

.cart img {
	width: 200px;
}

.cartinfo {
	width: 500px;
	margin-left: 100px;
}

.summary {
	width: 300px;
	height: 400px;
}

.remove {
	font-size: 10px;
	margin-top: 10px;
}

.cardinfo {
	width: 100%;
	margin-top: 100px;
}

.orderdetail {
	margin-top: 70px;
	width: 50%;
	margin-left: 70px;
	height: 520px;

}

.orderitem img {
	width: 150px;
	margin-right: 50px;
}


.orderinfo {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
}

.orderinfo div {
	display: flex;
	justify-content: space-between;
}

.total {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	justify-content: space-between;
}

.placeorder {
	display: flex;
	justify-content: center;
	margin-top: -50px;
}

.placeorder button {
	width: 90%;
}

.confirmation {
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.confirmation h1 {
	font-size: 50px;
	color: var(--color-main-dark);
}

.confirmbutton {
	display: flex;
	justify-content: center;
}

.confirmation button {
	width: 170px;
	margin-left: 30px;
	margin-right: 30px;
}


.images-main img {
	width: 500px;
	height: 40vh;
	object-fit: contain;
}

.images-thumbs img {
	width: 8em;
	height: 6em;
	object-fit: contain;
}

.added {
	margin-top: 70px;
}

.quickadd {
	width: 100px;
}

.addedbutton {
	width: 200px;
	margin-top: 20px;
}








